.form {
  width: 93%;
  padding: 20px 10px;
  border: 1px solid #ccc;

  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 16px;
  color: #ccc;
}

.input {
  width: 74%;
  margin-left: 26px;
  outline: none;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #ccc;
}

.input:hover,
.input:focus {
  border: 1px solid limegreen;
}

.input_number {
  width: 74%;
  margin-left: 10px;
  outline: none;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #ccc;
}
.input_number:hover,
.input_number:focus {
  border: 1px solid limegreen;
}
.button {
  width: 97%;
  padding: 2px 6px;
  color: #ccc;
  background-color: transparent;
  border: 1px solid #ccc;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}
.button:hover,
.button:focus {
  border: 1px solid limegreen;
}
